<h1>About page ! </h1>


<ul>
	<li> Site created by Nicholas Costa </li>
	<li> Email: travelsbybike@gmail.com </li>
	<li> Birthdate: Sept 23 </li>
	<li> Hometown: Spring Hill, TN </li>
	<li> My Favorite Food: Seafood </li>
	<li> My Favorite Movie: Freddy Got Fingered </li>
	<li> My Favorite Song: Pig  My Favorite Band: Dave Matthews Band </li>
</ul>







